In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [2]:
train_csv = pd.read_csv('train.csv')
X = pd.DataFrame(train_csv).drop('total_sales', axis=1)
y = pd.DataFrame(train_csv)['total_sales']

In [3]:
X.head()

,outlet_no,business_type,city,state,zip,store_location,avg_age,blue_collar,white_collar,female,...,total_household_size,total_household_income,time_zone,latitude,longitude,location_employee_code,employee_size,credit_score,credit_score_range,actual_credit_score
0,247,1,LIMA,OH,45804,TRAVEL/TRANSPORTATION/HOSPITALITY,44.01,43.68,35.41,53.37,...,2.24,63860000,EST,40.704283,-84.147047,E,70,B,80 TO 84,80
1,253,4,VACAVILLE,CA,95687,AT-WORK,38.36,41.31,26.48,54.00,...,2.54,92764000,PST,38.354860,-121.950360,D,35,A,90 TO 94,91
2,265,4,CINCINNATI,OH,45219,EDUCATIONAL,28.81,17.22,43.06,45.56,...,1.90,51027000,EST,39.136100,-84.504288,C,13,A+,95 TO 100,97
3,267,1,GLASGOW,KY,42141,AT-WORK,42.89,38.49,44.00,52.41,...,2.24,47119000,CST,37.010838,-85.903418,A,3,B+,85 TO 89,86
4,276,1,BOWLING GREEN,KY,42101,EATING & DRINKING,38.82,60.82,26.24,54.18,...,1.93,47941000,CST,36.964703,-86.436535,A,3,P,PROFESSIONAL INDIVIDUAL,78

In [4]:
y.head()

0    4070
1    4323
2    2163
3     528
4     528
Name: total_sales, dtype: int64

In [5]:
X_encoded = pd.get_dummies(X)

In [6]:
test_csv = pd.read_csv('test.csv')
test = pd.DataFrame(test_csv)
test_encoded = pd.get_dummies(test)

In [7]:
final_X, final_test = X_encoded.align(test_encoded, join='left', axis=1)

In [8]:
model = GaussianNB()

In [9]:
model.fit(final_X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
np.any(np.isnan(final_test))

True

In [11]:
final_test = final_test.fillna(0)

In [12]:
arr = model.predict(final_test)

In [13]:
indices = np.arange(1001, 1256)

In [14]:
put = pd.DataFrame({'outlet_no':indices, 'total_sales_actual':arr})
put.head()

   outlet_no  total_sales_actual
0       1001                 548
1       1002                 548
2       1003                 513
3       1004                 548
4       1005                 513

In [15]:
put.to_csv('sample.csv', mode='a', index=False)